<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">Tracker App</h1>
    <p class="lead">Tracker App is an online tracking application that enables users to seamlessly view, monitor and track live stock and cryptocurrency information.</p>
    <hr class="my-4">
    <p>Tracker App uses IEX Clouds API and Crypto Compares API to provide the latest stock and cryptocurrency information.</p>
    <a class="nav-item <%= 'active' if request.path == my_portfolio_path %>">
    <%-# link to my portfolio path -%>
        <%= link_to("View Stocks", my_portfolio_path,
                    class: "btn btn-info btn-lg") %>
    </a>
    </div>
</div>

