<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">Tracker App</h1>
    <p class="lead">Tracker App is an online stock tracking application that enables users to seamlessly view, monitor and track live stock information.</p>
    <hr class="my-4">
    <p>Tracker App uses financial data provided by IEX Clouds API.</p>
    <a class="btn btn-info btn-lg" href="#" role="button">View Stocks</a>
    </div>
</div>

