@import 'bootstrap/dist/css/bootstrap';

/* logo styling */
.navbar-brand {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

/* creates padding between portfolio title and search area */
.search-area {
    padding-top: 50px;
}

/* remove padding between search input and search button */
.no-right-padding {
    padding-right: 0 !important;
}

/* remove padding between search input and search button */
.no-left-padding {
    padding-left: 0 !important;
}

/* styling for stock results */
.results-block {
    display: inline-block;
    margin-bottom: 1rem;
}

/* logout button styling */
.logout-button {
    margin-right: 5px;
}

/* navigation username styling */
.user-name {
    margin-top: 3.5%;
    padding-right: 10px;
    color: white;
}

/* Sticky Footer Classes */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

